*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

html {
    overflow: hidden;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;

    scroll-snap-type: mandatory;
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;

    overflow-x: hidden;
    overflow-y: scroll;
}

section {
    min-height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

nav {
    position: fixed;
    top: 0;
    min-height: 8vh;
    width: 100vw;
    background-color: rgba(38, 41, 26, 0.8);
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    color: #D1D5BE;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.logo img {
    width: 34px;
    margin-right: 10px;
    vertical-align: middle;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #D1D5BE;
    letter-spacing: 2px;
    font-size: 14px;
}

.nav-links a:hover {
    color: #B7D437
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
}


#about {
    background-color: #26291A;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    background-image: url("../img/about_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom; 
}

.left {
    align-self: flex-end;
    flex: 1;
    margin-right: 10%;
}

.left img {
    max-width: 100%;
    height: auto;
}

.right {
    align-self: center;
    flex: 1;
}

.heading1, .heading2 {
    display: inline-block;
    font-size: 10vh;
    font-weight: bold;
}

.heading1, .heading2, .right p {
    animation-name: slide-fade-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}

.heading1 {
    color: #D1D5BE;
    animation-delay: 0.3s; 
}

.heading2 {
    color: #B7D437;
    animation-delay: 0.5s;
}

.right p {
    color: #D1D5BE;
    margin-top: 40px;
    font-size: 18px;
    line-height: 28px;
    animation-delay: 0.6s;
}

@keyframes slide-fade-in {
    from {
        transform: translateX(50%); 
        opacity: 0;
    }
    to {
        transform: translateX(0%); 
        opacity: 1;
    }
}

@-webkit-keyframes slide-fade-in {
    from {
        -webkit-transform: translateX(50%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}

.works {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#work1 {
    background-image: url("../img/work_indigoBall_bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top; 
}

#work2 {
    background-color: rgb(228, 83, 119);
}

#work3 {
    background-image: url("../img/work_hyperMock_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top; 
}

.services {
    font-size: 14px;
    margin: 120px 0 10px 0;
    color: #D1D5BE;
}

.title {
    font-size: 42px;
    font-weight: bold;
    width: 320px;
    margin-bottom: 20px;
    color: #D1D5BE;
}

.works button {
    background-color: #B7D437;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    letter-spacing: 1.5px;
    color: #fff;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 2px;
    cursor: pointer;
}

.works button:hover {
    background-color: #92AF13;
}

.others {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 700px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box div {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}

.box button {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    letter-spacing: 1.5px;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 2px;
    cursor: pointer;
}

#resume {
    background-color: #B7D437;
}

#resume .box {
    border: 1px solid #26291A;
}

#resume .box div {
    color: #26291A;
}

#resume .box button {
    background-color: #26291A;
    color: #B7D437;
}

#resume .box button:hover {
    background-color: #575B48;
}

#contact {
    background-color: #26291A;
}

#contact .box {
    border: 1px solid #D1D5BE;
}

#contact .box div {
    color: #D1D5BE;
}

.box p {
    color: #B7D437;
}




/* For mobile */
@media screen and (max-width: 768px) {
    /*body {
        overflow-x: hidden;   
    } originally here not up there*/
    nav {
        padding: 0 20px;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 92vh;
        width: 50vw;
        background-color: rgba(38, 41, 26, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links a {
        padding: 20px;
    }
    .burger {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }   
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }   
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }   
    .toggle .line2 {
        opacity: 0;
    }   
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    #about {
        padding: 0;
        flex-direction: column;
    }
    .left {
        margin: 0;
    }
    .right {
        padding: 20px;
        align-self: end;
        flex: 0;
    }
    .works {
        height: auto;
        padding: 20px;
    }
    .box {
        width: 90vw;
        height: 50vh;
    }
}


